body {
  background-color: #f5f5f7;
}

h1 {
  margin-top: 1em;
}

.home-link {
  background-color: #e4e7ee;
  border-radius: 0 8px 0 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

ul {
  background-color: #161616;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: relative;
  margin: 0;
}

li {
  color: white;
  font-size: 0.9em;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease-in;
}

li > a {
  cursor: pointer;
  display: inline-block;
  padding: 1.5em;
  transition: color 0.2s ease-in;
}

li:hover > a,
article > a:hover {
  color: lightgrey;
}

section {
  background-color: #161616;
  height: 0;
  left: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 4em;
  transition-property: height, padding;
  transition: 0.23s ease-in-out;
  width: 100%;
}

section > article {
  display: inline-flex;
  flex-direction: column;
  gap: 0.12em;
  opacity: 0;
  transition: opacity 0.65s cubic-bezier(0.91,-0.05,.85,.55);
}

.fade-out {
  transition: opacity 50ms ease-out;
}

article > a {
  font-size: 2em;
  font-weight: 700;
}

.subtitle {
  font-size: 1em;
  font-weight: 200;
  margin-bottom: 1em;
}
